body{
   margin: 0;
    padding: 0;
    background: #f8f8f8;
}

.search-box1{
    position: absolute;
    top:20%;
    left:50%;
    transform: translate(-50%,-50%);

    height: 80px;
    border-radius: 80px;
    padding: 80px;
}
.search-box{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);

    height: 80px;
    border-radius: 80px;
    padding: 80px;
}