<!DOCTYPE html>
<html lang="en-us">
<head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>登录窗口</title>
<link rel="stylesheet" type="text/css" href="../static/css/base.css">
<link rel="stylesheet" type="text/css" href="../static/css/login.css">

</head>
<body class=" login" data-admin-utc-offset="0">

<div id="container">
    <!-- Header -->
    <div id="header">
        <div id="branding">

        </div>
    </div>
    <!-- END Header -->
    <!-- Content -->
    <div id="content" class="colM">
<div id="content-main">
<form action="" method="post">
    <div class="form-row">
    <p><input type="username" name="user"></p>
<div class="submit-row">
    <input type="submit" value="登录">
               </div>
        </div>


</form>
</div>
        <br class="clear">
    </div>
    <!-- END Content -->
    <div id="footer"></div>
</div>
<!-- END Container -->
</body></html>