<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>搜索</title>
     <link rel="stylesheet" type="text/css" href="../static/css/Search.css">
</head>
<body>


    <form action="" method="post">
         {% csrf_token %}
    <div class="search-box">
        <p>用户名检查：<input type="search" name="user" placeholder="请输入关键字"></p><input type="submit" value="搜索" ></div>

    </form>

    <form action="" method="post">
         {% csrf_token %}
    <div class="search-box1">
        <p>所有用户信息：<input type="search" name="alluser" placeholder="请输入关键字"></p><input type="submit" value="搜索" ></div>
            </form>

    <div>

        <a href=" http://127.0.0.1:8000/%E6%9F%A5%E7%9C%8B%E5%9B%BE%E7%89%87.html">查看</a>
                <a href=" http://127.0.0.1:8000/%E4%B8%8A%E4%BC%A0.html">查看</a>


    </div>




</body>
</html>