<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>搜索</title>
     <link rel="stylesheet" type="text/css" href="../static/css/Search.css">
</head>
<body>
    <form action="" method="post">
    <div class="search-box">
        <p>用户名检查：<input type="search" name="user" placeholder="请输入关键字"></p><input type="submit" value="搜索"></div>

    </form>
    <form action="" method="post">
    <div class="search-box1">
        <p>所有用户信息：<input type="search" name="alluser" placeholder="请输入关键字"></p><input type="submit" value="搜索"></div>

    </form>




</body>
</html>