<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>查询结果</title>
    <link rel="stylesheet" type="text/css" href="../static/css/Search.css">
</head>
<body>


    <li><a href="http://127.0.0.1:8000/search.html" data-val="blue" title="返回" target="_parent">返回</a></li>
    <p>{{ dic}}}</p>

<table>
			<tr>

				<!-- th为表格标题栏-->

				<th>序号</th>

				<th>名称</th>

				<th>密码</th>

			</tr>
			<tr>
                {% for i in dic.datalist %}
                    <tr>
                <td>{{ i.ID }}</td>

				<td>{{ i.user_name }}</td>

				<td>{{ i.pwd }}</td>
                    </tr>




                        {% endfor %}


			</tr>


		</table>
</body>
</html>